$font-color: #fff;
$background-color: linear-gradient(45deg, #1900a8, #070069);
$mask-color: linear-gradient(#00ebeb, #009af3);
$button-hover-color: rgb(180, 180, 180);
$border-color: lightgray;
$fade-color: rgba(255, 255, 255, 0.75);